<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="Footer.css">
</head>
<body>

    <div class="footer" id="footer">  
        <div class="footer-content">  
            <div class="footer-content-left">  
                <img src="path/to/logo.png" alt="Logo" />  
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio corporis quia quam laborum fuga error ipsa eveniet ipsum dolore ratione hic accusantium obcaecati quaerat culpa totam quibusdam, aliquid voluptatem cupiditate.</p>
                <div class="footer-social-icons">
                    <img src="/src/images/facebook_icon.png" alt="Facebook" />
                    <img src="/src/images/twitter_icon.png" alt="Twitter" />
                    <img src="/src/images/linkedin_icon.png" alt="LinkedIn" />
                </div> 
            </div>   
            <div class="footer-content-center">  
                <h2>MyFoods</h2>
                <ul>
                    <li>Home</li>
                    <li>About us</li>
                    <li>Delivery</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>  
            <div class="footer-content-right">  
                <h2>GET IN TOUCH</h2>
                <ul>
                    <li>+91-1234-5678</li>
                    <li>contact@MyFoods.com</li>
                </ul>
            </div>  
        </div>  
        <hr/>
        <p class="footer-copyright">Copyright 2024 © MyFoods.com - All Rights Reserved.</p>
    </div>

    <script src="Footer.js"></script>

</body>
</html>
