<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Item</title>
    <link rel="stylesheet" href="FoodItem.css">
</head>
<body>
    <div class="food-item">
        <div class="food-item-img-container">
            <img class="food-item-image" src="path/to/image.jpg" alt="Food Image" />
            <img class="add" src="path/to/add_icon_white.png" alt="Add to Cart" />
            <div class="food-item-counter">
                <img src="path/to/remove_icon_red.png" alt="Remove from Cart" />
                <p>1</p>
                <img src="path/to/add_icon_green.png" alt="Add More" />
            </div>
        </div>

        <div class="food-item-info">
            <div class="food-item-name-rating">
                <p>Food Item Name</p>
                <img src="path/to/rating_stars.png" alt="Rating Stars" />
            </div>
            <p class="food-item-desc">Description of the food item goes here.</p>
            <p class="food-item-price">$10.00</p>
        </div>
    </div>

    <script src="FoodItem.js"></script>
</body>
</html>
